@primario: #4b8599;
@boton: black;
@lista: #a8b3ab;
@titulo: #5b665e;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color:@primario ;
    color:black;
    .margenes(50px,0px);
}

.btn-primary {
   background-color:@boton;
}

.card-categoria {
    flex: 2 200px;
    padding: 2px 0px 2px 0px;
    .margenes(10px,0px);
}

.btn-categoria {
    width: 100%; 
    border-radius: 0px;
}

.container{
    .margenes(10px,0px);

}

footer {
    padding: 10px 10px 0 10px;
    background-color: @primario;    
    .margenes(10px,0px);

}

p, li { 
    color: @lista;
}

h3, h1 {
    color:@titulo;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}