.jumbotron {
  background-color: #636363;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-primary {
  background-color: black; }

.card-categoria {
  flex: 2 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-categoria {
  width: 100%;
  border-radius: 0px; }

.container {
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #636363;
  margin-top: 10px;
  margin-bottom: 0px; }

p, li {
  color: #a8b3ab; }

h3, h1 {
  color: #5b665e; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
